@import "tailwindcss";
@import "./css/root.css";
@import "./css/styles.css";
@import "./css/base.css";
@import "./css/inline-theme.css";
@import "./css/layers.css";

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #212121;
    --foreground: #fcfef9;
    --secondary-background: #fcfef9;
  }
} */




